section > div {
    opacity: 0;
    position: relative;
    animation: slide-up .2s ease-in, fade-in .2s ease-in;
    animation-fill-mode: forwards;
}

#name-is {
    color: var(--color-two);
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-size: 16px;
    margin: 0  0 12px 5px;
    animation-delay: .7s;
}

#name {
    color: var(--color-three);
    font-size: 70px;
    line-height: 1.1;
    font-weight: 600;
    animation-delay: .8s;
}

#tag-line {
    font-size: 70px;
    line-height: 1.1;
    font-weight: 600;
    animation-delay: .9s;
}

#summary {
    margin-top: 30px;
    padding: 0;
    max-width: 500px;
    animation-delay: 1s;
}

#get-in-touch {
    margin-top: 50px;
    animation-delay: 1.1s;
}

@media only screen and (max-width: 62.5em) {

    #name-is {
        font-size: 15px;
    }

    #name {
        font-size: 70px;
    }

    #tag-line {
        font-size: 60px;
    }

}

@media only screen and (max-width: 48em) {

    #name-is {
        font-size: 13px;
        margin: 0  0 12px 5px;
    }

    #name {
        font-size: 50px;
    }

    #tag-line {
        font-size: 50px;
    }

    #get-in-touch button {
        font-size: 13px;
    }

}

@media only screen and (max-width: 30em) {

    #name-is {
        font-size: 13px;
        margin: 0  0 12px 5px;
    }

    #name {
        font-size: 50px;
    }

    #tag-line {
        font-size: 50px;
    }

    #get-in-touch button{
        font-size: 13px;
    }

}