section {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px auto;
    padding: 150px 0;
}

#about-flex-container {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: flex-start;
    width: 100%;
    opacity: 0;
}

#about-content-container {
    width: 60%;
    max-width: 480px;
    display: block;
}

#about-pic-container {
    position: relative;
    width: 40%;
    max-width: 300px;
    margin: 0 60px 0 60px;
    display: block;
}

#about-avatar-container {
    width: 100%;
    position: relative;
    border-radius: 5px;
    display: block;
}

#about-avatar {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

#about-avatar-shadow {
    top: 30px;
    left: 30px;
    z-index: -1;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 2px solid var(--color-two);
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

#about-avatar img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    opacity: 1;
    mix-blend-mode: multiply;
}

#about-avatar div {
    width:100%; 
    padding-bottom:100%;
    background-color: var(--color-two);
}

#about-avatar:hover {
    top: 8px;
    left: 8px;
}

#about-avatar:hover img {
    mix-blend-mode: initial;
}

#about-avatar:hover + #about-avatar-shadow {
    top: 22px;
    left: 22px;
}

#about-skills-container {
    padding: 0;
    display: grid;
    grid-template-columns: minmax(140px, 200px) minmax(140px, 200px);
    overflow: hidden;
    margin-top: 20px;
    list-style-type: none;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;

}

.about-skill {
    margin-bottom: 10px;
    font-size: 14px;
}

.about-skill::before {
    content: "*";
    color: var(--color-two);
    margin: 0 10px 0 5px;
}


@media only screen and (max-width: 48em) {

    section {
        padding: 100px 0px;
    }

    #about-flex-container {
        display: block;
    }

    #about-content-container {
        width: 100%;
    }

    #about-pic-container {
        margin: 60px auto 0px;
    }
}

@media only screen and (max-width: 30em) {

    #about-pic-container {
        width: 70%;
    }
}