<section id="About" class="section-default">
  <div class="section-header" appSlideUp><span>About Me</span></div>
  <div id="about-flex-container" appSlideUp>
    <div id="about-content-container">
      <p [innerHTML]="story" *ngFor="let story of stories"></p>
      <ul id="about-skills-container">
        <li *ngFor="let skill of skills" class="about-skill">{{ skill }}</li>
      </ul>
    </div>
    <div id="about-pic-container">
      <div id="about-avatar-container">
        <div id="about-avatar">
          <div></div>
          <img [src]="image">
        </div>
        <div id="about-avatar-shadow"></div>
      </div>
    </div>
  </div>
</section>