<section id="About">
  <div class="section-header" appSlideUp><span>About Me</span></div>
  <div id="about-flex-container" appSlideUp>
    <div id="about-content-container">
      <p>Hey there! I'm a software engineer who enjoys working at the intersection of engineering and design. I build
        exceptional websites and web apps that provide intuitive, pixel-perfect user interfaces while also being
        scalable and efficient behind the scenes.</p>
      <p>I graduated from <a href="#" class="text-link">Calicut University</a> with my bachelor's in 2018, and for the
        past 5+ years,
        I've been honing my skills in web development. I enjoy constantly learning and improving my skills with the
        technologies that keep evolving in this ever-changing field!</p>
      <p>Here's a few things I'm experienced with:</p>
      <ul id="about-skills-container">
        <li *ngFor="let skill of skills" class="about-skill">{{ skill }}</li>
      </ul>
    </div>
    <div id="about-pic-container">
      <div id="about-avatar-container">
        <div id="about-avatar">
          <div></div>
          <img src="/assets/images/me.jpg">
        </div>
        <div id="about-avatar-shadow"></div>
      </div>
    </div>
  </div>
</section>