section {
    text-align: center;
    max-width: 600px;
    padding: 150px 0px;
    margin: 0px auto 100px;
    align-items: center;
}

.section-header {
    position: relative;
    -webkit-box-align: center;
    width: 100%;
    white-space: nowrap;
    display: block;
    color: var(--color-two);
    font-size: 16px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 10px 0px 20px;
    opacity: 0;
}

.section-header::before {
    font-size: 16px;
}

.section-header::after {
    display: none;
}

#contact-content-header {
    position: relative;
    font-size: 60px;
    margin: 0px 0px 20px;
    color: var(--color-three);
    opacity: 0;
}

#contact-content {
    position: relative;
    margin-bottom: 50px;
    opacity: 0;
}

#say-hello {
    position: relative;
    opacity: 0;
}

@media only screen  and (max-width: 62.5em) {

    #contact-content-header {
        font-size: 50px;
    }
}

@media only screen and (max-width: 48em) {

    #contact-content-header {
        font-size: 40px;
    }

}