<section id="Contact">
  <div class="section-header" appSlideUp><span>What's next?</span></div>
  <div id="contact-content-header" appSlideUp><span>Get In Touch</span></div>
  <div id="contact-content" appSlideUp>
    <p>
      Although I'm not currently looking for any freelance opportunities, my inbox is always open. Whether for a
      potential project or just to say hi, I'll try my best to answer your email!
    </p>
  </div>
  <div id="say-hello" appSlideUp>
    <a href="mailto:pkr.midhun@gmail.com" target="_blank" rel="noopener noreferrer" class="button-link">Say Hello</a>
  </div>
</section>