<!--The content below is only a placeholder and can be replaced.-->
<app-loader *ngIf="!animationCompleted"></app-loader>
<div *ngIf="animationCompleted">
    <app-header></app-header>
    <div class="main">
        <app-home></app-home>
        <app-about></app-about>
        <app-experience></app-experience>
        <app-work></app-work>
        <app-other-works></app-other-works>
        <app-contact></app-contact>
    </div>
    <div class="social-container">
        <div>
            <ul class="social-list">
                <li class="social-list-item">
                    <a [attr.href]="githubURL" target="_blank" rel="nofollow noopener noreferrer" aria-label="Github"
                        class="social-link icon-github">
                    </a>
                </li>
                <li class="social-list-item">
                    <a [attr.href]="linkedinURL" target="_blank" rel="nofollow noopener noreferrer" aria-label="Linkedin"
                        class="social-link icon-linkedin">
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="email-container">
        <div>
            <div class="email-link-wrapper">
                <a [attr.href]="'mailto:' + email" class="email-link" aria-label="email-link"> {{ email }}</a>
            </div>
        </div>
    </div>
</div>