/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Roboto Mono';
    src: url('assets/fonts/Roboto_Mono/RobotoMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
}

:root {
    --background-color-one: #020c1b;
    --color-one: #8892b0;
    --color-two: #32e79e; /*14a76c*/
    --color-three: #e6fff5;
    --color-four: #2d3952;
    --color-five: #172a45;
    --color-six: #c2c7d6;
    --color-seven: #04152f;
    --background-color-two: #04152f;
    --box-shadow-color: #000;
}

body {
    background-color: var(--background-color-one);
    color: var(--color-one);
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.50;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto", "Lucida Console", Monaco, monospace;
    -webkit-font-smothing: antialiased;
    overflow-x: hidden;
    margin: 0px;
}

body.blur app-root .main * {
    filter: blur(3px) brightness(0.8);
    pointer-events: none;
    user-select: none;
    transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
}

html {
    width: 100%;
    box-sizing: border-box;
}

app-root {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
}

.logo-hexagon {
    stroke: var(--color-two); 
    stroke-width: 3; 
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: transparent;
}

.logo-letter-m {
    stroke: var(--color-two); 
    stroke-width: 3;
    stroke-linecap: round;
    stroke-linejoin: round; 
    fill: none;
}

*, ::before, ::after {
    box-sizing: inherit;
}

a {
    display: inline-block;
    text-decoration-skip-ink: auto;
    color: var(--color-two);
    position: relative;
    cursor: pointer;
    text-decoration: none;
}

a.text-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-two);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a.text-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

ul, ol {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.button-link {
    background-color: transparent;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    line-height: 1;
    cursor: pointer;
    font-size: 13px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--color-two);
    border-image: initial;
    border-radius: 2px;
    padding: 12px 17px;
    text-decoration: none;
    color: var(--color-two) !important;
}

.button-link:hover {
    background-color: rgb(255, 255, 255, 0.1);
}

section.section-default {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0px auto;
    padding: 150px 0;
}

.section-header {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    white-space: nowrap;
    font-size: 25px;
    margin: 10px 0 40px;
    font-weight: 600;
    opacity: 0;
    color: var(--color-three);
}

.section-header::before {
    counter-increment: section 1;
    content: "0" counter(section) ".";
    margin-right: 10px;
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
    font-weight: normal;
    font-size: 18px;
    color: var(--color-two);
}

.section-header::after {
    content: "";
    display: block;
    height: 1px;
    width: 300px;
    background-color: var(--color-four);
    margin-left: 20px;
}

img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
}

.fade-in {
    animation: fade-in .3s ease-in, slide-up .3s ease;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 62.5em) {

}

@media only screen and (max-width: 48em) {

    body {
        font-size: 16px;
    }

    section {
        padding: 100px 0px !important;
    }

    .section-header {
        font-size: 22px;
    }

    .section-header::before {
        font-size: 16px;
    }

    .section-header::after {
        width: 100%;
    }
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        top: -30px;
    }
    to {
        opacity: 1;
        top: 0px;
    }
}

@keyframes slide-up {
    from {
        top: 40px;
    }
    to {
        top: 0px;
    }
}

